@font-face {
    font-family: 'PokemonGb-RAeo';
    src: local("PokemonGb-RAeo") url('../../assets/PokemonGb-RAeo.ttf') format('truetype');
}

.poke-name {
    
    font-size: 35px;
}

.poke-id{
    font-size: 10px;
}

.poke-img{
    position: relative;
}